<%= form_for(@new_url) do |f| %>
  <% if @new_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_url.errors.count, "error") %>:</h2>

      <ul>
      <% @new_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
